@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER STYLE STARTED */

.site__header {
  padding: 79px 0;
  background-color: #014e56;
}

.header__section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__section-start {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.header__logo-img {
  width: 160px;
  height: 40px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.header__section-btn {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 10px 32.5px;
}

/* HEADER STYLE FINISHED */

/* MAIN STYLE STARTED */

/* HERO STYLE STARTED */

.hero__section {
  background-color: #014e56;
  background-image: url(/images/hero-left-disk.png),
    url(/images/hero-bottom-disk.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 770px) calc(50% - 100px),
    calc(50% + 380px) calc(50% + 260px);
}

.hero__section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 255px;
}

.hero__section-title {
  width: 600px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: #ffffff;
}
.hero__title-span {
  color: #f67e7e;
}

.hero__section-desc::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  margin-bottom: 79px;
}

.hero__section-desc {
  display: flex;
  flex-direction: column;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
/* HERO STYLE FINISHED */

/* INFO STYLE STARTED */

.info__section {
  background-color: #012f34;
  background-image: url(/images/info-bg-desk.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 760px) calc(50% + 218px);
}

.info__section-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
}

.info__section-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  margin-bottom: 54px;
}

.info__section-title {
  display: flex;
  flex-direction: column;
  width: 445px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
}

.info__section-list {
  margin-top: 54px;
}

.info__section-item:nth-child(1):before {
  position: absolute;
  content: url(/images/user-icon.svg);
  width: 72px;
  height: 72px;
  margin-left: -95px;
}

.info__section-item:nth-child(2):before {
  position: absolute;
  content: url(/images/setting-icon.svg);
  width: 72px;
  height: 72px;
  margin-left: -95px;
}

.info__section-item:nth-child(3):before {
  position: absolute;
  content: url(/images/stat-icon.svg);
  width: 72px;
  height: 72px;
  margin-left: -95px;
}

.info__section-item {
  margin-bottom: 32px;
}

.info__section-item:nth-child(3) {
  margin-bottom: 0;
}

.info__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #f67e7e;
}

.info__item-desc {
  width: 445px;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 16px;
}

/* INFO STYLE FINISHED */

/* REVIEW STYLE STARTED */

.review__section {
  background-color: #004047;
  background-image: url(/images/review-right-bg.png),
    url(/images/review-bottom-bg.png);
  background-position: calc(50% - 688px) calc(50% - 322px),
    calc(50% + 660px) calc(50% + 370px);
  background-repeat: no-repeat;
}

.review__section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 150px 0;
}

.review__section-title {
  width: 932px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 56px;
}

.review__title-span {
  color: #79c8c7;
}

.review__section-list {
  display: flex;
}

.review__section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/quote.svg);
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 34px;
}

.review__item-desc {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 24px;
}

.review__item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79c8c7;
  margin-bottom: 2px;
}

.review__item-profession {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 32px;
}

.review__item-avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

/* REVIEW STYLE FINISHED */

/* CONTACT STYLE STARTED */
/* CONTACT STYLE FINISHED */

/* MAIN STYLE FINISHED */

/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */
