@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER STYLE STARTED */

.site__header {
  padding: 79px 0;
  background-color: #014e56;
}

.header__section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__section-start {
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.header__logo-img {
  width: 160px;
  height: 40px;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.header__section-btn {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24px;
  padding: 10px 32.5px;
}

/* HEADER STYLE FINISHED */

/* MAIN STYLE STARTED */

/* HERO STYLE STARTED */

.hero__section {
  background-color: #014e56;
  background-image: url(/images/hero-left-disk.png),
    url(/images/hero-bottom-disk.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 770px) calc(50% - 100px), calc(50% + 380px) calc(50% + 260px);
}

.hero__section-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 255px;
}

.hero__section-title {
  width: 600px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  color: #ffffff;
}
.hero__title-span {
  color: #f67e7e;
}

.hero__section-desc::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  margin-bottom: 79px;
}

.hero__section-desc {
  display: flex;
  flex-direction: column;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
/* HERO STYLE FINISHED */

/* INFO STYLE STARTED */
/* INFO STYLE FINISHED */

/* REVIEW STYLE STARTED */
/* REVIEW STYLE FINISHED */

/* CONTACT STYLE STARTED */
/* CONTACT STYLE FINISHED */

/* MAIN STYLE FINISHED */

/* FOOTER STYLE STARTED */
/* FOOTER STYLE FINISHED */
